#coupon {
   height: 400px;
   width: 600px;
   background-image: url("https://i.ibb.co/SwgKykp/5.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   border: 2px dashed rgb(134, 59, 35);
   margin-left: 10%;
   margin-right: 10%;
   z-index: 2;
   position: fixed;
   margin-top: 10%;

}
.heading {
   font-weight: bold;
   margin-left: 18%;
   font-size: 16px;
   color: rgb(134, 59, 35);

}

.card_body {
   height: 100%;
   width: 50%;
   z-index: 2;
   position: sticky;
   margin: 4%;
   color: white;
   font-size: 12px;
}

.subheading {
   font-size: 15px;
   margin-left: 12%;
   animation-name: subh;
   animation-duration: 100s;
}
@keyframes subh {
   0% {
      color: rgb(194, 32, 32);
   }

   25% {
      color: rgb(189, 189, 86);
   }

   50% {
      color: blue;
   }
   100% {
      color: green;
   }
}
.title {
   margin-left: 12%;
   color: rgb(119, 29, 29);
   position: relative;

   animation-name: offer;
   animation-duration: 10s;
}

@keyframes offer {
   0% {
      color: rgb(0, 255, 42);
      ;
      left: 0px;
      top: 0px;
   }

   50% {
      color: yellow;
      left: 200px;
      top: 0px;
   }

   100% {
      color: blue;
      left: 0px;
      top: 0px;
   }
}

.offer {
   font-style: italic;
   font-size: 40px;
}

.horizontal {
   margin-left: 2%;
   margin-right: 12%;
   margin-top: -1%;
}

.subheading1 p {
   color: #485407eb;
}

.box {
   color: #f3c952;
   animation-name: offercode;
   animation-duration: 100s;
}

@keyframes offercode {
   0% {
      color: #f352e6;
   }

   25% {
      color: rgb(100, 100, 18);
   }

   50% {
      color: blue;
   }

   100% {
      color: rgb(10, 233, 10);
   }
}

.box1 {
   font-size: 14px;
   margin-top: 5%;
   text-align: center;
   animation-name: valid;
   animation-duration: 100s;
}

@keyframes valid {
   0% {
      background-color: rgb(194, 106, 106);
   }

   25% {
      background-color: rgb(128, 128, 18);
   }

   50% {
      background-color: blue;
   }

   100% {
      background-color: green;
   }
}